<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link rel="stylesheet" href="./index.css?v=0.1" />
    <link rel="preload" href="./static/index.png" as="image" />
    <script src="https://unpkg.com/vue@3.2.12/dist/vue.global.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js?56"></script>
    <script src="./utils/audio.js"></script>
    <title></title>
  </head>
  <body>
    <div id="index-app">
      <div class="index-ranking">
        <div class="shiny-text">
          <div style="display: flex; justify-content: space-between">
            <div>Game rankings !!</div>
            <div>Level: {{statisticsInfo.level}}</div>
          </div>
          <div class="vote-text">
            Vote for someone you like
            <img src="./static/cai.svg" style="width: 24px" />
          </div>
        </div>
        <div style="display: flex">
          <div class="scroll-container">
            <div class="scroll-content">
              <div
                v-for="(item,index) in rankings"
                :class="['ranking-item',`rank-box${index}`]"
              >
                <div style="display: flex; align-items: center">
                  <img :src="item.photo_url||'./static/avater.png'" />
                  &nbsp;
                  <div :class="['rank-box']">
                    {{index+1}}.&nbsp;{{item.user_name}}
                  </div>
                </div>
                <div style="display: flex; align-items: center">
                  <img
                    src="./static/cai.svg"
                    @click="handleZan(item)"
                    v-if="item.isZan"
                  />
                  <img src="./static/heart.svg" v-else />
                </div>
              </div>
            </div>
          </div>
          <div style="margin-left: 10px; width: 40%">
            <div></div>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <img
          :src="userInfo.photo_url || './static/avater.png'"
          class="index-avater"
        />
        <div v-if="statisticsInfo.zan" class="zan">
          You've been liked {{statisticsInfo.zan}}
        </div>
        <div class="btn" @click="handleStart">Start</div>
        <div class="btn donateBtn" @click="sendStars">Donate</div>
      </div>
      <div class="donation-count">donation stars: {{stars}}</div>
      <div class="donate-text">
        Thank you so much and Your donation is our driving force .
      </div>
    </div>
    <script>
      const UserInfoKey = "Telegram-BigMouse-UserInfo";
      const levelKey = "Telegram-BigMouse-level";
      const { reactive, ref, toRefs, setup, computed, onMounted, watch,nextTick } = Vue;
      const App = {
        setup() {
          //  uid: 8182968731
          const userInfo = ref({});
          const rankings = ref([]);
          const stars = ref(3013);
          const statisticsInfo = ref({
            level: 1,
            zan: 0,
          });
          const handleStart = () => {
            window.location.href = "game.html";
          };
          const sendStars = () => {
            const link = "https://t.me/$VMIj3Aq36VebAQAAnAtnPe0RqFU";
            // 使用 Telegram.WebApp.openLink 在小程序内部打开链接
            if (window.Telegram && window.Telegram.WebApp) {
              window.Telegram.WebApp.openInvoice(link);
            } else {
              alert("Telegram WebApp API is not available");
            }
          };
          /**
           * 获取并保存用户信息到后端
           */
          const saveUserInfoToBackend = () => {
            const userStr = localStorage.getItem(UserInfoKey);
            // if (userStr) {
            //   userInfo.value = JSON.parse(userStr);
            //   return;
            // }
            const data = Telegram.WebApp.initDataUnsafe;
            console.log("User info loaded:", Telegram.WebApp.initDataUnsafe);
            if (data && data.user) {
              const info = {
                uid: data.user.id,
                user_name: data.user.first_name,
                photo_url: data.user.photo_url || "",
              };
              localStorage.setItem(UserInfoKey, JSON.stringify(info));
              userInfo.value = info;
              nextTick(()=>{
                getUserLevel();
              })
              // 调用后端接口保存用户信息
              fetch("https://video-back.guoyufeng.cn/user/login", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(info),
              })
                .then((response) => response.json())
                .then((data) => {
                  console.log("用户信息已保存:", data);
                })
                .catch((error) => {
                  console.error("保存用户信息失败:", error);
                });
            } else {
              console.log("用户信息不可用");
            }
          };
          const getRanking = () => {
            fetch("https://video-back.guoyufeng.cn/user/rank ", {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              },
            })
              .then((response) => response.json())
              .then((data) => {
                rankings.value = data.data.slice(0, 5).map((item) => {
                  return {
                    ...item,
                    isZan: true,
                  };
                });
                console.log("data:", data);
              })
              .catch((error) => {
                console.error(error);
              });
          };
          const getDonate = () => {
            fetch("https://video-back.guoyufeng.cn/user/get_donate", {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
              },
            })
              .then((response) => response.json())
              .then((data) => {
                stars.value = data.data.contribution;
                console.log("data:", data);
              })
              .catch((error) => {
                console.error(error);
              });
          };
          const handleZan = (item) => {
            item.isZan = false;
            setTimeout(() => {
              item.isZan = true;
            }, 400);
            fetch(
              `https://video-back.guoyufeng.cn/user/zan?uid=${userInfo.value.uid}&zan_uid=${item.uid}`,
              {
                method: "GET",
                headers: {
                  "Content-Type": "application/json",
                },
              }
            )
              .then((response) => response.json())
              .then((data) => {
                getUserLevel();
              })
              .catch((error) => {
                console.error(error);
              });
          };

          const getUserLevel = () => {
            fetch(
              `https://video-back.guoyufeng.cn/user/get_level?uid=1213${userInfo.value.uid}`,
              {
                method: "GET",
                headers: {
                  "Content-Type": "application/json",
                },
              }
            )
              .then((response) => response.json())
              .then((res) => {
                if (res.data) {
                  localStorage.setItem(levelKey, res.data.current_level || 1);
                  statisticsInfo.value = {
                    level: res.data.current_level || 1,
                    zan: res.data.zan_number || 0,
                  };
                }
              })
              .catch((error) => {
                console.error(error);
              });
          };

          onMounted(() => {
            saveUserInfoToBackend(); // 这会在组件挂载时自动执行
            getRanking();
            getDonate();
            document.addEventListener("visibilitychange", () => {
              if (document.hidden) {
              } else {
                getDonate();
              }
            });
          });
          return {
            rankings,
            userInfo,
            stars,
            statisticsInfo,
            handleStart,
            sendStars,
            getDonate,
            getRanking,
            handleZan,
          };
        },
      };
      Vue.createApp(App).mount("#index-app");
    </script>
  </body>
</html>
