html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#index-app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: url("./static/index.png");
  background-size:100% 100%; /* 让图片覆盖整个容器，保持比例 */
  background-position: center; /* 图片居中显示 */
  background-repeat: no-repeat; /* 不重复背景图像 */
}

/*** 按钮 ***/
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
}
.btn {
  margin-bottom: 10px;
  background: #3498db;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  width: 116px;
  padding: 12px 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  font-weight: 600;
}
.btn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
